*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-between;
  width: 240px;
  gap: 50px;
  margin-left: 50px;
  font-family: sans-serif;
  padding-top: 50px;
}

.error{
  color: red;
}

.active-filter{
  background-color:gold;
}

.is-done{
  opacity: 0.5;
}